<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Clase 1</h2>
      <div class="row" data-ng-repeat="item in classOne">
        <div class="col-xs-2">X <sub>{{ $index + 1 }}</sub></div>
        <div class="col-xs-4">{{ item.x }}</div>
        <div class="col-xs-4">{{ item.y }}</div>
        <div class="col-xs-2"><button class="btn btn-clear btn-remove"><i class="ion-android-remove-circle" data-ng-click="remove(classOne, $index)"></i></button></div>
      </div>
      <div class="row">
        <div class="col-xs-2">X <sub>n</sub></div>
        <div class="col-xs-4"><input type="text" data-ng-model="model1.x" class="form-control"></div>
        <div class="col-xs-4"><input type="text" data-ng-model="model1.y" class="form-control"></div>
        <button class="btn btn-clear btn-add" data-ng-click="add(classOne, model1)"><i class="ion-android-add-circle"></i></button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Clase 2</h2>
      <div class="row" data-ng-repeat="item in classTwo">
        <div class="col-xs-2">X <sub>{{ classOne.length + $index + 1 }}</sub></div>
        <div class="col-xs-4">{{ item.x }}</div>
        <div class="col-xs-4">{{ item.y }}</div>
        <div class="col-xs-2"><button class="btn btn-clear btn-remove"><i class="ion-android-remove-circle" data-ng-click="remove(classTwo, $index)"></i></button></div>
      </div>
      <div class="row">
        <div class="col-xs-2">X <sub>n</sub></div>
        <div class="col-xs-4"><input type="text" data-ng-model="model2.x" class="form-control"></div>
        <div class="col-xs-4"><input type="text" data-ng-model="model2.y" class="form-control"></div>
        <button class="btn btn-clear btn-add" data-ng-click="add(classTwo, model2)"><i class="ion-android-add-circle"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <button class="btn btn-primary btn-full" data-ng-click="calculate()">Calcular</button>
    </div>
  </div>
</section>

<section id="proccess" class="container" data-ng-controller="RenderCtrl" data-ng-show="isCalculate">
  <div class="row m1">
    <h2>Cálculo de m<sub>1</sub></h2>

    <span id="math-m1">
    $$
      m1 =
      \frac{1}{ /n/ } \left(
      /class/
      \right)
      = \left[\begin{matrix} /m.x/ \\ /m.y/ \end{matrix} \right]
    $$
    </span>

  </div>
  <div class="row m2">
    <h2>Cálculo de m<sub>2</sub></h2>

    <span id="math-m2">
    $$
      m1 =
      \frac{1}{ /n/ } \left(
      /class/
      \right)
      = \left[\begin{matrix} /m.x/ \\ /m.y/ \end{matrix} \right]
    $$
    </span>

  </div>
  <div class="row s1">
    <h2>Cálculo de S<sub>1</sub></h2>

    <h4>paso 1</h4>
    <span id="math-sp1">
    $$
      S_{1} =
      \left[
        \left[
          \begin{matrix}
            1 \\ 5
          \end{matrix}
        \right]
        \left[
          \begin{matrix}
            1 & 5
          \end{matrix}
        \right]
      \right]
    $$
    </span>

    <h4>paso 2</h4>
    <span id="math-sm1">
    $$
      S_{1} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>

    <h4>Resultado S<sub>1</sub></h4>
    <span id="math-s1">
    $$
      S_{1} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>

  </div>
  <div class="row s2">
    <h2>Cálculo de S<sub>2</sub></h2>

    <h4>paso 1</h4>
    <span id="math-sp2">
    $$
      S_{1} =
      \left[
        \left[
          \begin{matrix}
            1 \\ 5
          \end{matrix}
        \right]
        \left[
          \begin{matrix}
            1 & 5
          \end{matrix}
        \right]
      \right]
    $$
    </span>

    <h4>paso 2</h4>
    <span id="math-sm2">
    $$
      S_{1} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>

    <h4>Resultado S<sub>2</sub></h4>
    <span id="math-s2">
    $$
      S_{1} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>

  </div>

  <div class="row">
    <h2>Cálculo de S<sub>w</sub></h2>
    <span id="math-swpw">
    $$
      S_{w} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
      =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>
    <h4>Resultado</h4>
    <span id="math-sw">
    $$
      S_{w} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>
  </div>

  <div class="row">
    <h2>S<sub>w</sub><sup>-1</sup> </h2>
    <span id="math-swm1w">
    $$
      S_{w} =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
    $$
    </span>
  </div>

  <div class="row">
    <h2>W</h2>
    <span id="math-wp">
    $$
      W =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
      \left(
        \left[
          \begin{matrix}
            2 \\ 8
          \end{matrix}
        \right]
        -
        \left[
        \begin{matrix}
          2 \\ 8
        \end{matrix}
        \right]
      \right)
    $$
    </span>

    <h4>Paso 1</h4>
    <span id="math-wpr">
    $$
      W =
      \left[
        \begin{matrix}
          1 & 2 \\
          1 & 3
        \end{matrix}
      \right]
      \left(
        \left[
          \begin{matrix}
            2 \\ 8
          \end{matrix}
        \right]
        -
        \left[
        \begin{matrix}
          2 \\ 8
        \end{matrix}
        \right]
      \right)
    $$
    </span>

    <h4>Resultado</h4>
    <span id="math-w">
    $$
      W =
      \left[
        \begin{matrix}
          1 & 2
        \end{matrix}
      \right]
    $$
    </span>
  </div>

  <div class="row">
    <h2>Ys</h2>
    <span id="math-y">
      $$
      Y_{1} = 256.458 \\
      Y_{1} = 256.458
      $$
    </span>
  </div>
</section>
