body {
	background: #fff;
  table {
    color: #555;
  }
	button {
		&.btn {
			&.btn-clear {
				border: none;
				background: none;
			}
			&.btn-add {
				i {
					font-size: 1.4em;
					color: #9c0;
				}
			}
			&.btn-remove {
				i {
					font-size: 1.4em;
					color: #900;
				}
			}
			&.btn-full {
				width: 100%;
				font-size: 1.4em;
			}
		}
	}
	#placeholder {
		width: 400px;
		height: 200px;
	}
	header {
		margin-top: 51px;
		background: #18bc9c;
		padding: 35px;
	}
}

h4 {
	text-align: center;
}

*:focus, *:active, *:hover {
	outline: transparent;
}
